In [2]:
import pandas as pd

In [8]:
#Information used to create a chart in Datawrapper
df_zip = pd.read_excel("borough.xlsx")
df_zip = df_zip.groupby('borough').sum()
df_zip

           capacity_original
borough
Bronx                   7152
Brooklyn               18948
Manhattan              30620
Other                     53
Queens                 10256

In [10]:
import requests
import datetime
import json

In [12]:
url = 'https://gbfs.citibikenyc.com/gbfs/en/station_status.json'

In [13]:
response = requests.get (url_status)
data = response.json()

In [14]:
df = pd.DataFrame(data['data']['stations'])
df

,num_docks_disabled,is_renting,num_ebikes_available,last_reported,num_bikes_available,num_bikes_disabled,is_installed,legacy_id,eightd_has_available_keys,station_id,num_docks_available,is_returning,num_scooters_unavailable,num_scooters_available
0,0,0,0,86400,0,0,0,4648,False,06439006-11b6-44f0-8545-c9d39035f32a,0,0,NaN,NaN
1,0,0,0,1710177561,0,0,0,4715,False,19d17911-1e4a-41fa-b62b-719aa0a6182e,0,0,NaN,NaN
2,0,0,0,1711117451,0,0,0,3159,False,66dd4a52-0aca-11e7-82f6-3863bb44ef7c,0,0,NaN,NaN
3,0,1,11,1711330589,14,2,1,3131,False,66dd3d7f-0aca-11e7-82f6-3863bb44ef7c,20,1,0.0,0.0
4,0,1,0,1711330589,22,1,1,3368,False,66de2199-0aca-11e7-82f6-3863bb44ef7c,6,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,0,1,5,1711330673,5,3,1,4885,False,581211b2-4e42-48f2-8a8f-5f968cb1c5df,25,1,0.0,0.0
2207,0,1,7,1711330678,8,0,1,3269,False,66ddd8a8-0aca-11e7-82f6-3863bb44ef7c,6,1,0.0,0.0
2208,0,1,6,1711330694,6,1,1,3277,False,66dddd28-0aca-11e7-82f6-3863bb44ef7c,7,1,0.0,0.0
2209,0,1,2,1711330684,15,2,1,4528,False,519824e4-69ba-4270-a395-17c204f328f8,4,1,0.0,0.0
2210,0,1,7,1711330708,24,5,1,3791,False,5faf99b8-9046-450f-9d2a-d13279b3d016,3,1,0.0,0.0

In [15]:
import requests
import pandas as pd
import googlemaps

#For the maps done in Datawrapper that show availabilty of bikes and ebikes in a particular moment

In [16]:
pip install -U googlemaps

Requirement already satisfied: googlemaps in /Users/carlamandiola/.pyenv/versions/3.11.6/lib/python3.11/site-packages (4.10.0)
Requirement already satisfied: requests<3.0,>=2.20.0 in /Users/carlamandiola/.pyenv/versions/3.11.6/lib/python3.11/site-packages (from googlemaps) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/carlamandiola/.pyenv/versions/3.11.6/lib/python3.11/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/carlamandiola/.pyenv/versions/3.11.6/lib/python3.11/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/carlamandiola/.pyenv/versions/3.11.6/lib/python3.11/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/carlamandiola/.pyenv/versions/3.11.6/lib/python3.11/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [17]:
url_cap = "https://gbfs.citibikenyc.com/gbfs/en/station_status.json"

In [18]:
response = requests.get (url_cap)
data = response.json()

In [19]:
df = pd.DataFrame(data['data']['stations'])
df.head()

,num_docks_disabled,is_renting,num_ebikes_available,last_reported,num_bikes_available,num_bikes_disabled,is_installed,legacy_id,eightd_has_available_keys,station_id,num_docks_available,is_returning,num_scooters_unavailable,num_scooters_available
0,0,0,0,86400,0,0,0,4648,False,06439006-11b6-44f0-8545-c9d39035f32a,0,0,NaN,NaN
1,0,0,0,1710177561,0,0,0,4715,False,19d17911-1e4a-41fa-b62b-719aa0a6182e,0,0,NaN,NaN
2,0,0,0,1711117451,0,0,0,3159,False,66dd4a52-0aca-11e7-82f6-3863bb44ef7c,0,0,NaN,NaN
3,0,1,6,1711331791,15,2,1,4358,False,3f05490b-a3d8-4d15-bd25-0212555b5dff,5,1,0.0,0.0
4,0,1,6,1711331792,14,0,1,3887,False,d89dc10f-9be3-45a5-9c3c-06c04c963436,6,1,0.0,0.0

In [20]:
url_regions = "https://gbfs.citibikenyc.com/gbfs/en/system_regions.json"
response_regions = requests.get (url_regions)
data = response_regions.json()
data['data']['regions']

[{'name': 'JC District', 'region_id': '70'},
 {'name': 'NYC District', 'region_id': '71'},
 {'name': '8D', 'region_id': '158'},
 {'name': 'Bronx', 'region_id': '185'},
 {'name': 'IC HQ', 'region_id': '189'},
 {'name': 'testzone', 'region_id': '190'},
 {'name': 'Hoboken District', 'region_id': '311'}]

In [21]:
df.head()

,num_docks_disabled,is_renting,num_ebikes_available,last_reported,num_bikes_available,num_bikes_disabled,is_installed,legacy_id,eightd_has_available_keys,station_id,num_docks_available,is_returning,num_scooters_unavailable,num_scooters_available
0,0,0,0,86400,0,0,0,4648,False,06439006-11b6-44f0-8545-c9d39035f32a,0,0,NaN,NaN
1,0,0,0,1710177561,0,0,0,4715,False,19d17911-1e4a-41fa-b62b-719aa0a6182e,0,0,NaN,NaN
2,0,0,0,1711117451,0,0,0,3159,False,66dd4a52-0aca-11e7-82f6-3863bb44ef7c,0,0,NaN,NaN
3,0,1,6,1711331791,15,2,1,4358,False,3f05490b-a3d8-4d15-bd25-0212555b5dff,5,1,0.0,0.0
4,0,1,6,1711331792,14,0,1,3887,False,d89dc10f-9be3-45a5-9c3c-06c04c963436,6,1,0.0,0.0

In [22]:
df.to_csv('Citibike2.csv', index = False)

In [23]:
import pandas as pd


df2 = pd.read_csv('Zip_and_total_Capacity2.csv')
df1 = pd.read_csv('citibike.csv')

merged_df = pd.merge(df1, df2, on='station_id', how='inner')

print(merged_df.head())

   is_returning  last_reported  num_scooters_unavailable  num_bikes_available  \
0             1     1709605449                       0.0                    2
1             1     1709605449                       0.0                    2
2             1     1709605449                       0.0                   10
3             1     1709605450                       0.0                   11
4             1     1709605450                       0.0                   15

   num_ebikes_available                            station_id  \
0                     2  24509e46-a0de-47e8-ba40-9441da68952a
1                     1  6fab98b7-b06a-49d8-a4d1-087ffce0ebcf
2                     0  81bec993-29a5-4e70-8f60-eecdf16c7be4
3                    10  655ad2f2-6bcc-4eee-95a9-4f528c0b81cd
4                     5                   1862008939006380034

   num_scooters_available            legacy_id  num_docks_available  \
0                     0.0                 4440                   17
1                     0.0                 4157                   10
2                     0.0                 4684                   17
3                     0.0                 4112                    4
4                     0.0  1862008939006380034                    4

   is_installed  ...  region_id        lat  electric_bike_surcharge_waiver  \
0             1  ...       71.0  40.856906                           False
1             1  ...       71.0  40.833246                           False
2             1  ...       71.0  40.705148                           False
3             1  ...       71.0  40.782940                           False
4             1  ...        NaN  40.858590                           False

         lon         rental_methods  \
0 -73.935662  ['KEY', 'CREDITCARD']
1 -73.896599  ['KEY', 'CREDITCARD']
2 -73.970781  ['KEY', 'CREDITCARD']
3 -73.930770  ['KEY', 'CREDITCARD']
4 -73.888210  ['KEY', 'CREDITCARD']

                                         rental_uris  capacity_original  \
0  {'ios': 'https://bkn.lft.to/lastmile_qr_scan',...                 19
1  {'ios': 'https://bkn.lft.to/lastmile_qr_scan',...                 19
2  {'ios': 'https://bkn.lft.to/lastmile_qr_scan',...                 30
3  {'ios': 'https://bkn.lft.to/lastmile_qr_scan',...                 18
4  {'ios': 'https://bkn.lft.to/lastmile_qr_scan',...                 21

  eightd_has_key_dispenser  zipCode  capacity_zip_sum
0                    False    10040               338
1                    False    10459               482
2                    False    11249               722
3                    False    10035               556
4                    False    10458               772

[5 rows x 28 columns]

In [24]:
print(merged_df[['zipCode', 'num_bikes_available']].head())

   zipCode  num_bikes_available
0    10040                    2
1    10459                    2
2    11249                   10
3    10035                   11
4    10458                   15